<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wasu.demo20.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.wasu.demo20.bean.Student" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="SNO" property="sno" jdbcType="VARCHAR" />
    <result column="SNAME" property="sname" jdbcType="VARCHAR" />
    <result column="SSEX" property="ssex" jdbcType="VARCHAR" />
  </resultMap>
</mapper>